{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>NextBus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'ctb/style.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <h1>NextBus</h1>
        </header>

        {% block selection %}

        <div id="selection">            
            <div id="searchBar">
                <form>
                    {{ route_form }}
                </form>
            </div>
        </div>
        {% endblock %}

        <div id="route">
            <h2>{% block route_label %}12A{% endblock %}</h2>
        </div>

        {% block results %}

        {% endblock %}
    </div>

    

    <footer class="footer">
        <p>NextBus &copy; Willma 2021</p>
    </footer>

    <!-- <script src="main.js"></script> -->
</body>
</html>