{% extends 'CTB/base.html' %}

{% block route_label %}{{ route.route }}{% endblock %}

{% block results %}
<table id="table">
    <tr>
        <th>
            {% if not circular %}To: {{ route.orig_en }}{% endif %}
        </th>
        <th>
            To: {{ route.dest_en }}
        </th>
    </tr>
    <tr>
        <td class="result-column">
            {% if not circular %}
                {% for stop in stops_i %}
                    {% url 'CTB:stop' route_num=route.route stop_num=stop.stop as eta_url %}
                    <div class="result-item">
                        <a class="stop-name" href="{{ eta_url }}">{{ stop.name_en }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        </td>
        <td class="result-column">
            {% for stop in stops_o %}
                {% url 'CTB:stop' route_num=route.route stop_num=stop.stop as eta_url %}
                <div class="result-item">
                    <a class="stop-name" href="{{ eta_url }}">{{ stop.name_en }}</a>
                </div>
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}